@import "variables";

body {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}


.container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}


.scroll-button {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 44px;
  height: 44px;
  padding: 5px;
  background: #EBF2F9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

::-webkit-scrollbar{
  background-color: #DCDCDC;;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: $color-primary;
}

@media (max-width: 1439px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 991px) {

  .container {
    width: 758px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  ::-webkit-scrollbar{
    background-color: #DCDCDC;;
    height: 4px;
    width: 4px;
  }
}