@import "../fonts";
@import "../variables";

.footer {
  overflow-x: hidden;

  &-items {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 70px 0;
    border-bottom: 1px solid rgba(152, 160, 170, 0.2);

    &--sm {
      display: flex;
      gap: 193px;
    }
  }

  &-item {
    max-width: 230px;

    &__title {
      @include font-bold;
      font-size: 20px;
      color: $color_title;
      margin-bottom: 40px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    &__soc-net {
      display: flex;
      gap: 22px;
    }

    li {
      margin: 0 0 30px 0;
      padding: 0;
      list-style: none;
    }

    li a {
      @include font-medium;
      font-size: 16px;
      color: $color_secondary;

      &:hover {
        color: $color_primary;
      }
    }

    a {
      text-decoration-line: none;
    }

    &-link {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-copy {
    padding: 70px 0;
    @include font-medium;
    font-size: 14px;
    a {
      text-decoration-line: none;
      color: $color_secondary;
    }
  }
}

@media (max-width: 1439px) {
  .footer {

    &-items {
      padding: 40px 0 30px 0;

      &--sm {
        gap: 30px;
      }
    }

    &-copy {
      padding: 45px 0;
      a {
      }
    }
  }
}

@media (max-width: 991px) {

  .footer {

    &-item {
      margin-bottom: 35px;
      max-width: 100%;

      &__title {
        margin-bottom: 25px;
      }

      &__soc-net {
        gap: 58px;
      }

      li {
        margin: 0 0 10px 0;
      }

      &__links {
        display: flex;
        gap: 20px;
      }
    }

    &-items {
      flex-direction: column;

      &--sm {
        gap: 0;
        justify-content: space-between;

        & .footer-item {
          max-width: 240px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {

    &-items {

      &--sm {
        gap: 0;

        & ul {
          max-width: 125px;
        }
      }

      &-item {
        &__title {
          font-size: 16px;
        }

        &__soc-net {
          justify-content: space-between;
          max-width: 330px;
        }

        li a {
          font-size: 12px;
        }
      }
    }
  }
}
