@import "../variables";
@import "../fonts";

.section-main {
  overflow: hidden;

  & .container {
    display: flex;
    min-height: 900px;
  }

  &-photo {
    width: 1070px;
    margin: -100px 0 0 85px;

    & img {
    }

    &--sm {
      display: none;
    }
  }

  &-content {
    min-width: 520px;
    padding-top: 192px;

    &__text {
      @include font-bold;
      font-size: 18px;
      color: $color_secondary;
    }

    &__title {
      @include font-bold;
      font-size: 48px;
      color: $color_title;
      margin: 42px 0;

      & span {
        color: $color-primary;
      }
    }

    &__subtitle {
      @include font-bold;
      font-size: 16px;
      color: $color_secondary;
    }
  }

  &-btn {
    margin-top: 42px;
  }
}

@media (max-width: 1439px) {
  .section-main {

    &-photo {
      margin: -100px 0 0 0px;
    }
  }
}

@media (max-width: 991px) {
  .section-main {

    & .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: auto;
    }

    &-photo {
      display: none;
      &--sm {
        display: block;
        margin-top: 35px;
      }
    }

    &-content {
      padding-top: 100px;
      min-width: unset;

      &__text {
        font-size: 14px;
        @include font-semiBold;
      }

      &__title {
        font-size: 34px;
        margin: 30px 0;
        & span {
        }
      }

      &__subtitle {
        font-size: 12px;
      }
    }

    &-btn {
    }
  }
}

@media (max-width: 767px) {
}




